#editorspick2 {
    background-color: rgb(255, 198, 113);
}

img{
    cursor: pointer;
    transition: 0.4s;
}

img:hover  {
    box-shadow: 3px 3px 3px rgb(83, 83, 83);
}

#arrow {
    transition: transform 0.3s;
}

#arrow:hover {
    transform: translateX(5px)
}